<!DOCTYPE html>
<html>
<head>
	<title>Scrape It</title>
</head>
<script src="http://localhost:3001/assets/modules/channel-web/inject.js"></script>
<style>
    body {
            background-color: #f7f1eb;
        }
	h1{
		text-align: center;
	}
	form{
	 	text-align: center;
	}
	.w3-container {
	  background-color: #f7f1eb;
	}

</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<body>
	<script>
		window.botpressWebChat.init({
		   host: "http://localhost:3001/",
		   botId: "bot-1"
		})

		window.addEventListener('message', function(event) {
		  if (event.data.name === 'webchatReady') {
			window.botpressWebChat.sendEvent({
			  type: 'proactive-trigger',
			  channel: 'web',
			  payload: { text: 'Hi' }
			})
		  }
		})
  </script>
	<div class="w3-container w3-display-middle">
		<div class="w3-panel w3-card" style="height: 330px; width: 700px;">
			<br><h1><b>Scrape IT</b></h1><br><br>
			<form method="post" action="/" name="myform" enctype="multipart/form-data">
				<input type="text" name="url" required placeholder="Enter UniRank Continent or Country or State url" size="35">
<!--				<select name="category" required>-->
<!--					<option value="">Select Category</option>-->
<!--					<option value="central">Central University</option>-->
<!--					<option value="state">State University</option>-->
<!--					<option value="deemed">Deemed-to-be University</option>-->
<!--				</select>-->
				<br><br><br>
				<input type="submit" onclick="setTimeout(submit_form, 2000)"><br>
				<h3 style="color:red;">{{ item }}</h3>
			</form>
		</div>
	</div>
<script>
	function submit_form() {
		document.myform.submit();
		document.myform.reset();
	}
</script>
<script>

</script>
</body>
</html>